<div class="<%- articleContentData.mainClass %>">

	<% if (articleContentData.tag) { %>
		<div class="tag">
			<%- articleContentData.tag %>
		</div>
	<% } %>

	<h2 class="title">
		<a href="/articles/<%= articleContentData.name_en %>">
			<%= articleContentData.name_ru %>
		</a>
	</h2>

	<div class="description">

		<% if (articleContentData.subtitle) { %>
			<span class="subtitle">
				<%= articleContentData.subtitle %>
			</span>
		<% } %>

		<%= articleContentData.description %>

	</div>

</div>
