<div id="template_1" class="template_1">
	<div class="contentWrapper">

		<div class="title"><%= data.title %></div>

		<div class="description"><%= data.description %></div>

		<div class="links">

			<% data.links.forEach((link, index) => { %>
				<a
					class="link"
					style="background-image: url('/images/template_1/<%= index + 1 %>.jpg');"
					href="<%= link.url %>"
				>
					<span><%= link.ankor %></span>
				</a>
			<% }); %>

		</div>

	</div>
</div>
