<div id="footer" class="footer">
	<div class="contentWrapper">

		<div class="menuBlocks">

			<div class="menuBlock">
				<div class="socNets">
					<% pageData.footerMenu.socialNets.forEach(socialNet => { %>
						<a href="<%= socialNet.url %>" target="_blank" title="<%= socialNet.url %>">
							<%- include(`../pageElements/partials/socialNetIcons/${socialNet.name}`); %>
						</a>
					<% }) %>
				</div>
				<div class="copyRight">© Центр аграрного опыта и инноваций</div>
			</div>

			<% pageData.footerMenu.menuBlocks.forEach(menuBlock => { %>
				<div class="menuBlock">
					<div class="title"><%= menuBlock.title %></div>
					<% menuBlock.menuItems.forEach(menuItem => { %>
						<a href="<%= menuItem.url %>" class="menuItem" title="<%= menuItem.title %>">
							<%= menuItem.title %>
						</a>
					<% }) %>
				</div>
			<% }) %>

		</div>

	</div>
</div>
