<div class="itemTabContent">

	<a href="<%= tabContent.url %>">

		<img src="images/template_3/<%= tabContent.img %>" alt="">

		<div class="tagAndDate">
			<span><%= tabContent.tag %></span>
			<span><%= tabContent.date %></span>
		</div>

		<div class="title">
			<%= tabContent.title %>
		</div>

		<div class="description">
			<%= tabContent.description %>
		</div>

	</a>
</div>
